.heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.btns {
  display: flex;
  gap: 2rem;
  font-weight: 700;
  margin-top: 2rem;

  .cancelBtn {
    all: unset;
    width: 100%;
    text-align: center;
    padding: 0.3rem 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    background-color: red;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }

  .continueBtn {
    all: unset;
    width: 100%;
    text-align: center;
    padding: 0.3rem 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    border-radius: 8px;
    cursor: pointer;
  }
}
