.container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #041325;

  .miniContainer {
    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 4rem 0;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .quizTitle {
      font-size: 3.5rem;
      font-weight: 700;
    }

    .startQuizBtn {
      all: unset;
      text-align: center;
      padding: 1rem 4rem;
      font-size: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
      border-radius: 8px;
      background-color: green;
      color: white;
      cursor: pointer;
      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}

.startQuizArea {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  overflow: hidden;

  .topArea {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .questionText {
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0;
  }

  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .optionBox {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      border-radius: 8px;
      padding: 0.5rem;
      background-color: rgb(226, 225, 225);
      cursor: pointer;
      border: 3px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .nextBtnDiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .nextBtn {
      all: unset;
      width: 40%;
      text-align: center;
      padding: 1rem 4rem;
      font-size: 1.4rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
      border-radius: 8px;
      background-color: green;
      color: white;
      cursor: pointer;
      &:hover {
        filter: brightness(1.1);
      }
      &:disabled{
        cursor: not-allowed;
      }
    }
  }
}

.quizComplete {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media only screen and (max-width: 780px) {
  .container {
    height: auto !important;
    width: 100% !important;
    /* min-height: 100vh !important; */
    /* background-color: white; */
    overflow-x: hidden !important;
  }

  .miniContainer {
    width: 100% !important;
    height: 100% !important;
    min-height: 100vh !important;
    border-radius: 0 !important;
    /* overflow: auto !important; */
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
  .options {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 2rem !important;
  }
}

@media only screen and (max-width: 1080px) {
  .optionBox {
    font-size: 1.5rem !important;
  }
}
