.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .errStatus {
    font-size: 3rem;
    font-weight: 700;
  }

  .msg {
    font-size: 2rem;
  }

  .link {
    text-decoration: none;
    color: black;
  }

  .btn {
    all: unset;
    margin-top: 2.5rem;
    padding: 0.7rem 3rem;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 3px 15px;

    &:hover {
      background-color: var(--blue-btn);
      color: white;
      cursor: pointer;
    }
  }
}
